div.tr_selector_group{
  display:inline-block;
  width: 400px;
  height:30px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div.tr_display{
  display:inline-block;
  width: 200px;
  height:30px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div.tr_selector{
  display:inline-block;
}

div.tr_selector_group input{
  margin-left:5px;
}

img.tr_image{
  vertical-align: middle;
}